* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 300px;
  display: flex;
  flex-direction: column;
}

main {
  background-color: #f0e7db;
  color: #1a202c;
}

.record-area {
  aspect-ratio: 16 / 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 6px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.circle:hover {
  opacity: 0.9;
}

.indicator {
  background: #e73647;
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

.indicator.recording {
  width: 50%;
  height: 50%;
  border-radius: 4px;
  transition: width 0.2s ease-out, height 0.2s ease-out,
    border-radius 0.2s ease-out;
}

.indicator.stopping {
  transition: width 0.2s ease-out, height 0.2s ease-out,
    border-radius 0.2s ease-out;
}

.play-area {
  padding: 10px;
  min-height: 30px;
}

.video-play, .video-stop {
  text-align: center;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
}

.video-play:hover, .video-stop:hover {
  opacity: 0.9;
}

.preview-area {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  vertical-align: bottom;
}

.preview-video {
  width: 100%;
  object-fit: contain;
}

@media (prefers-color-scheme: dark) {
  main {
    background-color: #202023;
    color: white;
  }
  .circle {
    border-color: white;
  }
  .video-play, .video-stop {
    background-color: white;
    color: black;
  }
  .preview-area {
    background-color: black;
  }
}
